.div1{
    text-align: right;
}
.div2{
    text-align: center;
    margin: 100px ;
}
input{
    color: rgb(52, 51, 51);
    margin-top: 30px;
    width: 700px;
    height: 40px;
    border-radius:15px ;
    border-color: rgb(52, 51, 51);
    border: 100px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
.div3{
    text-align: center;
}
.a{
    background-color:#e9e9e9;
    margin-top: 240px;
    height: 28px;
}
.div4{
    text-align: left;
}